.newus {
    background-color: green;
}

.Aduu {
    background-color: brown;
}
.Aduu{
    background-color: brown;padding: 10px;
}
.Aduu{
    display: flex;justify-content: space-around ;padding: 10px; background-color: brown;
}
.tt{
    text-align: center;
}